font-face {
    font-family: 'PPGatwick-GliderSemibold';
    src: url('PPGatwick-GliderSemibold.otf') format('opentype');
}
body {
    margin: 0;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PPGatwick-GliderSemibold;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.content {
    font-size: 96px;
    color: white;
    z-index: 1;
    transition: color 0.4s ease-in-out;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.7), /* White glow */
                 0 0 10px rgba(255, 255, 255, 0.6), 
                 0 0 15px rgba(255, 255, 255, 0.4),
                 0 0 18px rgba(255, 255, 255, 0.2),
                 0 0 20px rgba(255, 255, 255, 0.1);
}

/* Stili per il pulsante di toggle */
.theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.theme-toggle img {
    width: 20px;
    height: 20px;
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
    filter: invert(100%);
}

/* Tema light */
body.light {
    background-color: #ffffff;
}
body.light .content {
    color: #000000;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.6), /* Black glow */
                 0 0 10px rgba(0, 0, 0, 0.6), 
                 0 0 15px rgba(0, 0, 0, 0.4),
                 0 0 18px rgba(0, 0, 0, 0.2),
                 0 0 20px rgba(0, 0, 0, 0.05),
                 0 0 40px rgba(0, 0, 0, 0.01);
}

/* Trasformazione nel tema light */
body.light .theme-toggle img {
    /* Nessuna trasformazione nel tema light */
    transform: none;
    filter: none;
}

/* Media query per dispositivi mobili */
@media (max-width: 600px) {
    .content {
        transform: rotate(90deg);
        transform-origin: center center;
    }
}
